.block{
	float: left;
	width: 227px;
	height: 108px;
	background-image:url(../images/sticky.png);
	text-align: center;
	margin-left:11px;
	margin-top:9px;
	font-size: 15pt;
	font-weight: bold;
	color: #E7380C;
	position:relative;
	background-repeat: no-repeat;
}
#title{
	display: inline-block;
}
#firstblock{
	width: 963px;
	text-align: center;
	margin: auto;
	padding-bottom: 60px;
	background-color: #A6A6A6;
}

.empty_block{
	margin:5px;
	float: left;
	width: 280px;
	height: 230px;
	background-image:url(../images/empty_block.png);
}

#coverphoto{
	margin-top: 118px;
	width:971px;
	height:187px;
}

h4.info_title {
	margin:0 10px;
	height:52px;
	overflow: hidden;
}

h4.info_title a {
	text-decoration: none;
	color: black;
}

#blockinfo{
	position: absolute;
	bottom: 22px;
	color:#000000;
	font-size: 12pt;
	left: 10px;
}
#cover_tag{
	position: relative;
	width:83px;
	height:24px;
	background-image:url(../images/tag.png);
	margin-left: 885px;
	margin-top:-3px;
}
.tag_word{
	color:#949494;
	width: 15px;
	height: 24px;
	float: left;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

.tag_block{
	position: relative;
	//background-color: white;
	opacity:0.6;
	width: 15px;
	height: 24px;
	margin-left: -30px;
	//display: none;
}
#tag_block5{
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
#tag_block1:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block2:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block3:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block4:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block5:hover{
	background-color: white;
	opacity:0.6;
}
#block_tag{
	width: 963px;
	height:23px;
}
.block_tag{
	width: 84px;
	height:23px;
	background-color: #4D4D4D;
	float: left;
	color:#999999;

	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#block_tag_2{
	margin-left: 5px;
	background-color: #4D4D4D;
}
#block_tag_3{
	margin-left: 5px;
	background-color: #4D4D4D;
}
.add_calendar{
	width:30px;
	height:30px;
	cursor: pointer;
	display:inline-block;
	float: left;
	position: relative;
	z-index: 2;
}
#calendar{
	width:1190px;
	height:117px;
	position: fixed;
	bottom: -67px;
	left:50%;
	margin-left:-595px; 
}
.calendar_block{
	width:38px;
	height:100px;
	float: left;
	position: relative;
	margin-top: -26px;
	z-index: 2;
}
#day_01{
	margin-left: 36px;
}
#cal_mid{
	position: relative;
	z-index: 3;
}
.small_sticky_1{
	width: 32px;
	height: 29px;
	position:absolute;
	top:28px;
	left:6px;
	//background-image: url("../images/small_sticky.png");
}
.small_sticky_2{
	width: 32px;
	height: 29px;
	position:absolute;
	top:60px;
	left:6px;
	//background-image: url("../images/small_sticky.png");
}
.add_symbol{
	position: absolute;
	left:0;
	top:0;
	width: 60px;
	height: 58px;
	z-index: 0;
}