body{
	margin: auto;
}
li{
	position: relative;
	display: inline;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
.block{
	float: left;
	width: 284px;
	height: 306px;
	background-image:url(../images/sticky_3.png);
	text-align: center;
	margin-left:11px;
	margin-top:9px;
	font-size: 15pt;
	font-weight: bold;
	color: #E7380C;
	position:relative;
	background-repeat: no-repeat;
}
#title{
	display: inline-block;
}
#firstblock{
	width: 963px;
	text-align: center;
	margin: auto;
	padding-bottom: 60px;
	
}
.empty_block{
	margin:5px;
	float: left;
	width: 280px;
	height: 230px;
	background-image:url(../images/empty_block.png);
}

#coverphoto{
	width:971px;
	height:187px;
}
#player{
	margin-top: 80px;
}
.block:before {
  	content: '';
  	display: inline-block;
  	vertical-align: middle ;
  	height: 100%;
}
h4.info_title {
	position: relative;
	width: 220px;
	height:auto;
	overflow: auto;
	margin-left: -45px;
	margin-top: -50px;
	

	color: black;
	display: inline-block;
    vertical-align: middle;
}

#blockinfo{
	position: absolute;
	bottom: 31px;
	color:#000000;
	font-size: 12pt;
	left: 40px;
}
#cover_tag{
	position: relative;
	width:83px;
	height:24px;
	background-image:url(../images/tag.png);
	margin-left: 885px;
	margin-top:-3px;
}
.tag_word{
	color:#949494;
	width: 15px;
	height: 24px;
	float: left;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

.tag_block{
	position: relative;
	//background-color: white;
	opacity:0.6;
	width: 15px;
	height: 24px;
	margin-left: -30px;
	//display: none;
}
#tag_block5{
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
#tag_block1:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block2:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block3:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block4:hover{
	background-color: white;
	opacity:0.6;
}
#tag_block5:hover{
	background-color: white;
	opacity:0.6;
}
#block_tag{
	width: 963px;
	height:23px;
}
.block_tag{
	position: relative;
	width: 86px;
	height:48px;
	float: left;
	font-size: 20px;
	margin-left: 50%;
	left: -400px;
	bottom: -35px;
	font-weight: bold;
}
#block_tag_2{
	margin-left: 40px;
}
#block_tag_3{
	margin-left: 40px;
}
#block_tag_4{
	margin-left: 40px;
}
.color_box{
	background-color: #8C6239;
	width: 84px;
	height: 7px;
	position: absolute;
	bottom: 0;
	display: none;
}
#block_tag_1:hover #color1{
	display: block;
}
#block_tag_2:hover #color2{
	display: block;
}
#block_tag_3:hover #color3{
	display: block;
}
#block_tag_4:hover #color4{
	display: block;
}
.class_a{
	color: black;
}
.add_calendar{
	width:30px;
	height:30px;
	cursor: pointer;
	display:inline-block;
	float: left;
	position: relative;
	z-index: 2;
}
.add_symbol{
	position: absolute;
	left:-16px;
	top:-16px;
	width: 60px;
	height: 58px;
	z-index: 0;
}
.btn_invite {
	position: absolute;
	right: 40px;
	bottom: 50px;
}