body{
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	min-height: 100%;
}
#head span{
	cursor:pointer;
}
#title{
	position: relative;
	font-size: 32px;
	color: white;
	font-family: "微軟正黑體";
}
#logo{
	position: relative;
	width: 42.75px;
	height: 42.75px;
}
#head{
	position:fixed;
	background-color: #544830;
	width: 100%;
	height: 50px;
	min-width: 1024px;
	z-index: 1;
	box-shadow:0px 0px 10px 4px #444444;
}
#head_block {
	position:relative;
	width:100%;
	min-width: 1024px;
}
#head a {
	text-decoration: none;
}
.menu{
	width: 135px;
	height: 30px;
	color: #009DFF;
	font-family: "微軟正黑體";
	font-size: 20px;
	text-align: center;

	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
.menu:hover{
	color:white;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 50%, rgba(255,255,255,0.02) 51%, rgba(0,157,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,0)), color-stop(51%,rgba(255,255,255,0.02)), color-stop(100%,rgba(0,157,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.02) 51%,rgba(0,157,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.02) 51%,rgba(0,157,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.02) 51%,rgba(0,157,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.02) 51%,rgba(0,157,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#009dff',GradientType=0 ); /* IE6-9 */
}
#search{
	width: 300px;
	height: 30px;
	border-style: none;
	font-size: 14pt;
	font-family: "微軟正黑體";
	float: left;

	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	-webkit-border-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;

	-moz-border-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;

	border-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#btn{
	margin-left: -30px;
}
.header_btn{
	margin-left: 4px;
	width:30px;
	height:30px;
	float: left;
	-webkit-border-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;

	-moz-border-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;

	border-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#ho{
	width: 36px;
	height:36px;
}
#header_btn_s{
	width: 24px;
	height: 24px;
}
.header_btn_img{
	width: 30px;
	height: 30px;
	opacity: 1 !important;
}
#fb{
	width: 30px;
	height: 30px;
}
#head_picture{
	position: relative;
	right: -840px;
}
#word{
	width: 100px;
	position: absolute;
	float: left;
	color:white;
	font-family: "微軟正黑體";
	font-size: 20px;
	margin-left: 100%;
	right:570px;
	top: -11px;
}
#login{
	width: 128px;
	height: 38px;
	position: absolute;
	float: left;
	margin-left: 100%;
	right:440px;
	margin-top: -20px;
}
#mid_1{
	position: relative;
	width:410px;
	height:30px;
	margin-left: 100%;
	right:420px;

	margin-top: 25px;
	bottom:15;
}
#mid_2{
	width:100%;
	height:30px;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#mid_line{
	margin-top: 5px;
	width:100%;
	height:3px;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#logo_pic{
	position: absolute;
	left: 20px;
	margin-top: -15px;
}
#ncku{
}
#login_image{
	
}
/*
#login_block{
	width:140px;
	height:42px;
	background-image:url(../images/login_pic.png);
	position: absolute;
	right: 10%;
	margin-top: -61px;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	// Firefox 
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	// Safari, Chrome, and Opera 
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	// W3C 
	display:box;
	box-pack:center;
	box-align:center;
}*/
#login_block{
	
}
#fb{
	margin-left: 57px;
}
#twitter{
	margin-left: 5px;
}
#fb_pic{
	position: relative;
	margin-left: 65px;
	top: -32px;
}
#google_pic{
	position: relative;
	top: -32px;
	margin-left: 2px;
}
#fb_big_head{
	position: relative;
	width: 25px;
	height: 25px;
}
#logout_link {
	position: relative;
	top:-31px;
	margin-left: 20px;
	color: white;
}
#word a{
	color: white;
}
#logout_word{
	position: absolute;
	margin-left: 30px;
	top:-23px;
}
/**---------------------------------------footer---------------------------------------**/
#footer{
	width: 100%;
	height: 32px;
	background-color: #544830;
	position: fixed;
	bottom: 0px;
	color: #F2F2F2;

	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
	text-align: center;
}

#footer a{
	text-decoration: none;
	color:white;
}


/**------------------------------------------------------------------------------------**/
@media screen and (max-width: 950px){
	
}