#calendar{
	position: fixed;
	bottom: 0px;
	right:0px;
	z-index: 10; 
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.8);
}
#cal_blocks_container {
	height: 490px;
	overflow-y: scroll;
}
#small_cal_logo {
	width:70px;
	position:absolute;
	left:0px;
}
#cal_logo_and_remove {
	height:70px;
	width:100%;
	text-align: center;
	background-color: #3d3d3d;
}
#cal_reomove {
	height:70px;
	display:inline-block;
	margin-left: 20px;
}
#cal_reomove img {
	height:100%;
}
.cal_block{
	height:70px;
	z-index: 2;
	background-color: #c2c2c2;
}
.date_num {
	background-color: #7f7f7f;
	width:70px;
	height:70px;
	text-align: center;
	vertical-align: top;
	display:inline-block;
}
.date_num p {
	margin:0;
	padding-top: 10px;
	font-size: 30px;
	font-weight: bold;
}
.small_sticky{
	padding-top: 5px;
	width:65px;
	margin: 0 2.5px;
}
.cal_show {
	cursor: pointer;
}
/*Google Chrome*/
::-webkit-scrollbar {
      width: 7px;
      height: 7px;
}
::-webkit-scrollbar-track {
      background-color: #aaaaaa;
      opacity: 30%;
} 
::-webkit-scrollbar-thumb {
      background-color: #5B5C5C;
      -webkit-border-radius: 7px;
}
::-webkit-scrollbar-button {
      background-color: #aaaaaa;
      display: none;
}
::-webkit-scrollbar-corner {
      background-color: #aaaaaa;
}
/*FireFox*/
::-moz-scrollbar {
      width: 7px;
      height: 7px;
}
::-moz-scrollbar-track {
      background-color: #aaaaaa;
      opacity: 30%;
} 
::-moz-scrollbar-thumb {
      background-color: #5B5C5C;
      -moz-border-radius: 7px;
}
::-moz-scrollbar-button {
      background-color: #aaaaaa;
      display: none;
}
::-moz-scrollbar-corner {
      background-color: #aaaaaa;
}
/*IE*/
::-ms-scrollbar {
      width: 7px;
      height: 7px;
}
::-ms-scrollbar-track {
      background-color: #aaaaaa;
      opacity: 30%;
} 
::-ms-scrollbar-thumb {
      background-color: #5B5C5C;
      -moz-border-radius: 7px;
}
::-ms-scrollbar-button {
      background-color: #aaaaaa;
      display: none;
}
::-ms-scrollbar-corner {
      background-color: #aaaaaa;
}